$_main_color: #00244D;
$_main_bg_color: #ffffff;
$_black_color: #000000;
$_blue_color: #1157A6;
$_padding_mobile: 20px;
$_padding_desktop: 170px;
$_section_padding_mobile: 100px;
$_section_padding_desktop: 160px;

