<section id="about-game" class=" about-game section">
  <div class="about-game-container container">
    <div class="about-game-title"><svg class="benefits-svg-ladder">
        <use href="./img/sprite.svg#icon-ladder-blue"></use>
      </svg>
      <h2>About the Game</h2>
    </div>
    <p class="about-game-text">"Seat Jam" is a captivating puzzle game that turns the art of seat arrangement into a
      thrilling challenge. Players dive
      into diverse environments, arranging seats in various venues from cozy cafes to grand theaters. Each level
      presents
      unique
      obstacles and goals, requiring strategic thinking and creativity. With hundreds of levels, the game progressively
      introduces more complex arrangements and special items, keeping the gameplay fresh and engaging.</p>
  </div>
</section>