<section id="advantages" class="advantages">
  <div class="container advantages-container">
    <div class="advantages-content">
      <div class="advantages-title-box">
        <svg class="advanteges-icon">
          <use href="./img/sprite.svg#icon-ladder-black"></use>
        </svg>
        <h2 class="advantages-title">Advantages</h2>
      </div>
      <p class="advantages-text">
        Develops problem-solving and spatial reasoning skills
        Offers a relaxing yet challenging gameplay experience
        Features beautifully designed levels with increasing complexity
        Encourages creativity with diverse themes and customizable elements
        Provides daily challenges and seasonal events
        Supports offline play, enabling gaming on the go
        Regular updates add new levels and features
        Engaging for all ages with easy-to-learn mechanics
      </p>
    </div>
    <picture class="advantages-picture">
      <source srcset="./img/advantages/2Phone-1x.png 1x, ./img/advantages/2Phone-2x.png 2x" />
      <img class="how-to-play-img" src="./img/advantages/2Phone-1x.png" alt="phone">
    </picture>
  </div>
</section>
