<section id="benefits" class="benefits section">
  <div class="container benefits-box">
    <div class="benefits-header">
      <svg class="benefits-svg-ladder">
        <use href="./img/sprite.svg#icon-ladder-black"></use>
      </svg>
      <h5>Benefits</h5>
    </div>
    <div class="benefits-content">
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-svg-star">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <div>
        <p class="header-list-numbers">4.8</p>
        <p class="header-list-text">Stars</p>
        </div>
      </li>
      <li class="benefits-item">
        <svg class="benefits-svg-eye">
          <use href="./img/sprite.svg#icon-eye"></use>
        </svg>
        <div>
        <p class="header-list-numbers">1000+</p>
        <p class="header-list-text">Reviews</p>
      </div>
      </li>
      <li class="benefits-item">
        <svg class="benefits-svg-download">
          <use href="./img/sprite.svg#icon-download"></use>
        </svg>
        <div>
        <p class="header-list-numbers">50 000+</p>
        <p class="header-list-text">Downloads</p>
        </div>
      </li>
      <li class="benefits-item">
        <svg class="benefits-svg-offline">
          <use href="./img/sprite.svg#icon-offline"></use>
        </svg>
        <div>
        <p class="header-list-text">Online</p>
        <p class="header-list-text">Offline</p>
        </div>
      </li>
    </ul>
    </div>
  </div>
</section>