<section id="disclaimer" class="disclaimer section">
  <div class="container disclaimer-box">
    <div class="disclaimer-title-box">
      <svg class="disclaimer-icon">
        <use href="./img/sprite.svg#icon-ladder-black"></use>
      </svg>
      <h2 class="disclaimer-title">Disclaimer</h2>
    </div>
    <p class="disclaimer-text">
      GAMETOPSTAR.COM IS A PLATFORM FOR HAVING FUN.
      THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE GAMES.
      GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME!
    </p>
  </div>
</section>
