<section id="faq" class="faq section">
  <div class="faq-container container">
    <div class="faq-title-box">
      <svg class="faq-icon">
        <use href="./img/sprite.svg#icon-ladder-blue"></use>
      </svg>
      <h2 class="faq-title">FAQ</h2>
    </div>

    <ul class="faq-list">
      <li class="faq-item opened">
        <div class="faq-question">
          <p class="faq-question-text">Can I play Seat Jam offline?
          </p>
          <button type="button" class="faq-question-plus-btn">
            <svg class="faq-question-plus">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <button type="button" class="faq-question-minus-btn">
            <svg class="faq-question-minus">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>

        </div>
        <div class="faq-answer ">
          <p class="faq-answer-text">
            Yes, the game can be played without an internet connection.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question">
          <p class="faq-question-text">How do I unlock more themes?
          </p>
          <button type="button" class="faq-question-plus-btn">
            <svg class="faq-question-plus">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <button type="button" class="faq-question-minus-btn">
            <svg class="faq-question-minus">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>

        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Progress through levels or purchase them in the store.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question">
          <p class="faq-question-text">Are there any in-app purchases?
          </p>
          <button type="button" class="faq-question-plus-btn">
            <svg class="faq-question-plus">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <button type="button" class="faq-question-minus-btn">
            <svg class="faq-question-minus">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>

        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, but they are optional and not required to complete the game.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question">
          <p class="faq-question-text">What do I do if I get stuck on a level?
          </p>
          <button type="button" class="faq-question-plus-btn">
            <svg class="faq-question-plus">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <button type="button" class="faq-question-minus-btn">
            <svg class="faq-question-minus">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>

        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
          You can use hints or power-ups to help you out.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question">
          <p class="faq-question-text">How can I reset my progress?
          </p>
          <button type="button" class="faq-question-plus-btn">
            <svg class="faq-question-plus">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <button type="button" class="faq-question-minus-btn">
            <svg class="faq-question-minus">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>

        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            You can reset your progress from the settings menu.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question">
          <p class="faq-question-text">Can I play against others?
          </p>
          <button type="button" class="faq-question-plus-btn">
            <svg class="faq-question-plus">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <button type="button" class="faq-question-minus-btn">
            <svg class="faq-question-minus">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>

        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, there are leaderboards and social features to compete against friends.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>