<section id="gallery" class="gallery-section section">
  <div class="gallery-container">
    <div class="gallery-title-box">
      <svg class="gallery-icon">
        <use href="./img/sprite.svg#icon-ladder-blue"></use>
      </svg>
      <h2 class="gallery-title">Gallery</h2>
    </div>
    <div class="swiper gallery-swiper">
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/1slide-1x.png 1x, ./img/gallery/1slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/1slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/2slide-1x.png 1x, ./img/gallery/2slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/2slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/3slide-1x.png 1x, ./img/gallery/3slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/3slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/4slide-1x.png 1x, ./img/gallery/4slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/4slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/5slide-1x.png 1x, ./img/gallery/5slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/5slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/6slide-1x.png 1x, ./img/gallery/6slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/6slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/7slide-1x.png 1x, ./img/gallery/7slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/7slide-1x.png" alt="Slide picture">
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture class="gallery-picture">
            <source
              srcset="./img/gallery/8slide-1x.png 1x, ./img/gallery/8slide-2x.png 2x"
            />
            <img class="swiper-img" src="./img/gallery/8slide-1x.png" alt="Slide picture">
          </picture>
        </li>
      </ul>
      <button class="gallery-button-prev" tabindex="0">
        <svg class="gallery-icon-arrow">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="gallery-button-next" tabindex="0">
        <svg class="gallery-icon-arrow">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
