<header class="header">
  <div class="header-box">
    <a class="header-logo" href="/">
      <picture>
        <source
          srcset="./img/header/logo-1x.png 1x, ./img/header/logo-2x.png 2x"
        />
        <img class="header-logo-img" src="./img/header/logo.png" alt="Logo">
      </picture>
      <p class="header-logo-text">SeatJam 3D</p>
    </a>
    <button type="button" class="header-burger">
      <svg class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
      <svg class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
      <svg class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#about-game">About the Game</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#advantages">Advantages</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <div class="menu">
      <nav>
        <ul class="menu-list">
          <li>
            <a class="menu-link" href="#benefits">Benefits</a>
          </li>
          <li>
            <a class="menu-link" href="#about-game">About the game</a>
          </li>
          <li>
            <a class="menu-link" href="#how-to-play">How to play</a>
          </li>
          <li>
            <a class="menu-link" href="#gallery">Gallery</a>
          </li>
          <li>
            <a class="menu-link" href="#advantages">Advantages</a>
          </li>
          <li>
            <a class="menu-link" href="#disclaimer">Disclaimer</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>
