<header class="header">
  <div class="header-box">
    <a class="header-logo" href="/">
      <picture>
        <source
          srcset="./img/header/logo-1x.png 1x, ./img/header/logo-2x.png 2x"
        />
        <img class="header-logo-img" src="./img/header/logo.png" alt="Logo">
      </picture>
      <p class="header-logo-text">SeatJam 3D</p>
    </a>
    <button class="header-burger">
      <svg class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
      <svg class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
      <svg class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">Benefits</li>
        <li class="header-item">About the Game</li>
        <li class="header-item">How to Play</li>
        <li class="header-item">Gallery</li>
        <li class="header-item">Advantages</li>
        <li class="header-item">FAQ</li>
      </ul>
    </nav>
  </div>
</header>
