<section class="hero">
  <div class="container hero-box">
    <div class="hero-content">
      <h1 class="hero-title">Unleash your inner decorator with Seat Jam, where creativity meets challenge in every seat arrangement puzzle</h1>
      <p class="hero-text">
        Over 20 unique themes, endless levels, and joyful designs await to test your spatial awareness and decorating skills.
        Dive into a world where each puzzle is a room waiting for your artistic touch. Start your design journey today
      </p>
      <picture>
        <source
          srcset="./img/hero/Phons-1x.png 1x, ./img/hero/Phons-2x.png 2x"
        />
        <img class="hero-img" src="./img/hero/Phons-1x.png" alt="phone">
      </picture>
    </div>
    <a class="hero-link" href="https://play.google.com/store/apps/details?id=com.magicgs.seatjam">
      <p class="hero-link-text">Get it now</p>
      <p class="hero-link-google">Google play</p>
      <img class="hero-link-img" src="./img/hero/google-play-icon.png" alt="google-play">
    </a>
  </div>
</section>
