<section class="hero">
  <div class="hero-box">
    <picture class="hero-img-desktop">
      <source
        srcset="./img/hero/Phons-1x.png 1x, ./img/hero/Phons-2x.png 2x"
      />
      <img class="hero-img" src="./img/hero/Phons-1x.png" alt="phone">
    </picture>

    <div class="hero-content">
      <div class="hero-text-block">
        <h1 class="hero-title">Unleash your inner decorator with Seat Jam, where creativity meets challenge in every seat arrangement puzzle</h1>
        <p class="hero-text">
          Over 20 unique themes, endless levels, and joyful designs await to test your spatial awareness and decorating skills.
          Dive into a world where each puzzle is a room waiting for your artistic touch. Start your design journey today
        </p>
        <picture class="hero-img-mobile">
          <source
            srcset="./img/hero/Phons-1x.png 1x, ./img/hero/Phons-2x.png 2x"
          />
          <img src="./img/hero/Phons-1x.png" alt="phone">
        </picture>
      </div>
      <a class="hero-link" href="https://play.google.com/store/apps/details?id=com.magicgs.seatjam">
        <img class="hero-link-img" src="./img/hero/google-play-icon.png" alt="google-play">
        <div>
          <p class="hero-link-text">Get it now</p>
          <p class="hero-link-google">Google play</p>
      </div>
      </a>
    </div>
  </div>
  <ul class="running-block">
    <li class="running-block-item">Available now on App store and Google play PLAY NOW!</li>
    <li class="running-block-item">Available now on App store and Google play PLAY NOW!</li>
    <li class="running-block-item">Available now on App store and Google play PLAY NOW!</li>
    <li class="running-block-item">Available now on App store and Google play PLAY NOW!</li>
    <li class="running-block-item">Available now on App store and Google play PLAY NOW!</li>
    <li class="running-block-item">Available now on App store and Google play PLAY NOW!</li>
  </ul>
</section>
