<section id="how-to-play" class="how-to-play">
  <div class="container how-to-play-box">
    <picture class="how-to-play-picture">
      <source
        srcset="./img/how-to-play/1Phone-1x.png 1x, ./img/how-to-play/1Phone-2x.png 2x"
      />
      <img class="how-to-play-img" src="./img/how-to-play/1Phone-1x.png" alt="Logo">
    </picture>
    <div class="how-to-play-content">
      <div class="how-to-play-title-box">
        <svg class="how-to-play-icon">
          <use href="./img/sprite.svg#icon-ladder-white"></use>
        </svg>
        <h2 class="how-to-play-title">How to Play</h2>
      </div>
      <p class="how-to-play-text">Drag and drop chairs and tables to match the floor plan.
        Complete each level by fulfilling the specific arrangement criteria.
        Use power-ups to rearrange or remove items.
        Overcome obstacles like immovable structures.
        Achieve the goals within a limitednumber of moves.
        Unlock new furniture and decoration themes as you progress. Participate in time-limited events for special rewards.
        Challenge your friends for the top spot in leaderboards.
      </p>
    </div>
  </div>
</section>
