.footer-list {
    display: flex;
    flex-direction: column;
    background-color: $_blue_color;
    align-items: center;
    padding: 24px 9px;
    text-align: center;
    gap: 20px;
    color: $_main_bg_color;
    font-size: 14px;

    .footer-link {
            cursor: pointer;
            transition: transform 0.3s ease; 
    
            &:hover {
                transform: scale(1.2); 
            }
        }

    @include on-desktop {
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 126px;
        
    }
}