@import './privacy-policy.scss';
@import './terms.scss';
@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './about-game.scss';
@import './how-to-play.scss';
@import './gallery.scss';
@import './advantages.scss';
@import './faq.scss';
@import './disclaimer.scss';
@import './footer.scss';

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  padding-left: $_padding_mobile;
  padding-right: $_padding_mobile;
  max-width: $mobile;
  margin: 0 auto;

  @include on-desktop {
    padding-left: $_padding_desktop;
    padding-right: $_padding_desktop;
    max-width: $desktop;
  }
}

.section {
  padding-top: $_section_padding_mobile;
  padding-bottom: $_section_padding_mobile;

  @include on-desktop {
  padding-top: $_section_padding_desktop;
  padding-bottom: $_section_padding_desktop;
  }
}